body{
    font-family: "Merriweather", serif;
    background-color:/*lemonchiffon*/ #FFFFEB;  
}
h3{
    text-align: center;
}
p{
    text-align: justify;
}
/* for jumbotron */
.jumbotron{
    background-image: url('book2.jpeg');
    background-size: cover;
    background-repeat: none;
    background-position-y: 450px;
    color: white;
    text-shadow: 5px 5px 10px black;;
    margin:0px;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 65px;
    text-align: center;
}
img#iitk{
    height:100px;
    float:left;
    vertical-align: center;
}
img#gymkhana{
    height:80px;
    float:right;
    vertical-align:center;
}
img.contact_panel_c{
    object-fit: cover;
    height:300px;
    width:300px;
    padding: 20px;
}
img.contact_panel_s{
    object-fit: cover;
    height:250px;
    width:250px;
    padding:15px;
}
/*for navbar*/
#nav {
  width: 100%;
  position:static;
  top:-32px;
  -webkit-transition: all .6s ease-in-out;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px; 
}  
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .dropdown-menu{
	right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

/*For search bar*/
/*
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    margin-bottom: 10px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 380px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu{
        min-width: 380px;
    }
}*/
/*For carousel*/
.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

/*#searchForm {
	position:absolute;
  	top:40%;
}*/
.row.quote{
    font-family: 'Kaushan Script', cursive;
    background-color: #2e2e2e;
    color: whitesmoke;
    vertical-align: middle;
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    padding:10px;
}
table{
    background-color: white;
}
td:nth-child(5) { width: 40% ;}
/*For ratings*/
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
/*More link*/
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;

}
